<header class="tui-form__header">
  <h1>Login</h1>
</header>

<form
  name="auth-form"
  [formGroup]="form"
  (submit.prevent)="onFormSubmit()">
  <div class="tui-form__row">
    <tui-input formControlName="username">
      Username
      <input
        name="username"
        tuiTextfield
        type="text" />
    </tui-input>

    <tui-error
      formControlName="username"
      [error]="[] | tuiFieldError | push" />
  </div>

  <div class="tui-form__row">
    <tui-input-password formControlName="password">
      Password
      <input
        name="password"
        tuiTextfield
        type="password" />
    </tui-input-password>

    <tui-error
      formControlName="password"
      [error]="[] | tuiFieldError | push" />
  </div>

  <div class="tui-form__row">
    <button
      tuiButton
      type="submit"
      class="submit-button"
      [showLoader]="loginIsProcessing()">
      Submit
    </button>
  </div>
</form>
