@if (isDarkTheme()) {
  <tui-theme-night />
}

<tui-root [tuiMode]="isDarkTheme() ? 'onDark' : 'onLight'">
  <router-outlet></router-outlet>

  @if (tabBarEnabled()) {
    <nav
      tuiTabBar
      class="nav-bar">
      <a
        icon="tuiIconCheckSquare"
        routerLink="/tasks"
        routerLinkActive="is-active"
        tuiTabBarItem>
        Tasks
      </a>
      <a
        icon="tuiIconCalendar"
        routerLink="/events"
        routerLinkActive="is-active"
        tuiTabBarItem>
        Events
      </a>
      <a
        icon="tuiIconSearch"
        routerLink="/search"
        routerLinkActive="is-active"
        tuiTabBarItem>
        Search
      </a>
      <a
        icon="tuiIconUser"
        routerLink="/profile"
        routerLinkActive="is-active"
        tuiTabBarItem>
        Profile
      </a>
    </nav>
  }
</tui-root>
